<!DOCTYPE html>
<html lang="en">
<head>
	<%- include("components/partial/stylesheets") %>
	<link rel="stylesheet" href="/public/css/style.css">
	<link rel="stylesheet" href="/public/css/folder-upload.css">

	<meta charset="UTF-8">
	<title>Server Emulator</title>
</head>
<body>
	<%- include("components/nav-bar", { active: "browse" }) %>
	<%- include("components/contextmenu") %>
	<%- include("components/browse-templates") %>
	<%- include("components/modal") %>

	<div class="container pt-5" >
		<%- include("components/dropzone") %>

		<div class="row my-1 mb-md-5" id="directoryStructure" ></div>

		<div class="row" id="fileStructure"></div>

		<br>
		<br>

		<form action="/file" method="POST" enctype="multipart/form-data" onchange="this.submit();" style="text-align: center">
			<input type="file" name="file" id="file" class="inputfile" webkitdirectory mozdirectory />
			<label for="file">Choose A Folder</label>
			<input type="hidden" name="directory" id="upload-dir" value="<%= dir %>" >
		</form>
	</div>

</body>
<%- include("components/partial/js-libs") %>
<script>
	let currentDir	= '<%= dir %>';
</script>
<script src="/public/js/contextMenu.js"></script>
<script src="/public/js/main.js"></script>
</html>
