<!DOCTYPE html>
<html lang="en">
<head>
	<%- include("components/partial/stylesheets") %>
	<link rel="stylesheet" href="/public/css/style.css">

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Server Emulator</title>
</head>
<body>
	<%- include("components/modal", { active: "users" }) %>
	<%- include("components/sidebar", { active: "users" }) %>
	<%- include("components/user-templates") %>

	<div class="container pt-5" style="color: gray">
		<h1>Users:</h1>
		<div class="row" id="userStructure"></div>
	</div>
</body>
<%- include("components/partial/js-libs") %>
<script src="/public/js/modals/usersModal.js"></script>
<script src="/public/js/users.js"></script>
</html>
